<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>
            {% block title %} Todo{% end %}
        </title>

        <link rel='shortcut icon' type='image/x-icon' href="{{ static_url('images/favicon.ico') }}"/>
        <link rel="stylesheet" href="{{ static_url('css/app.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/normalize.css') }}">

        <script src="{{ static_url('js/jquery-2.2.2.min.js') }}"></script>
        <script src="{{ static_url('js/utils.js') }}"></script>
    </head>

    <body>
        {%block header%}  
        {%end%}

        {%block content%}  
        {%end%}

        {% block items %}
        {% end %}

        {% block bottom %}
        {% end %}

        {%block footer%}  
        {%end%}
    </body>
</html>
