{% extends "base.html" %}

{%block header%}
    <script type="text/javascript">
        function emptyCheck() {
            var todo_text = document.getElementById("todo_text").value
            if (todo_text.length == 0) {
                alert("todo_text can't be empty.")
                return false;
            }
            return true;
        }
    </script>
{%end%}

{% block content %}
    <div class="container">
        <a href="/">
            <img src="{{ static_url("images/tornado.png") }}" alt="powered by tornado" />
        </a>
    </div>
{% end %}

{% block items %}
{% end %}

{% block bottom %}
    <div class="container">
        <div class="post">
            <form action="/todo/{{ todo.id }}/edit" method="post" id="post_new" onsubmit="return emptyCheck()">
                {% raw xsrf_form_html() %}
                <p><input type="text" name="todo_text" id="todo_text" value="{{ todo.todo_text }}"/></p>
                <p><input type="submit" class="submit" value="完成" /></p>
            </form>
        </div>
    </div>
{% end %}
