{% extends "base.html" %}

{%block header%}
    <script type="text/javascript">
        function emptyCheck() {
            var todo_text = document.getElementById("todo_text").value
            if (todo_text.length == 0) {
                alert("todo_text can't be empty.")
                return false;
            }
            return true;
        }
    </script>
{%end%}

{% block content %}
    <a href="http://www.tornadoweb.org/en/stable/" target="_blank">
        <img src="{{ static_url("images/tornado.png") }}" alt="powered by tornado" />
    </a>
{% end %}

{% block items %}
    <ul>
        {% for todo in todos %}
            <li>
                {% if todo.finished == 0 %}
                    {{ todo.todo_text }} &nbsp;
                    <a href="/todo/{{ todo.id }}/finish?status=yes">完成</a>
                {% elif todo.finished == 1 %}
                    <img src="{{ static_url("images/ok.gif") }}" alt="finish" />
                    <del>{{ todo.todo_text }}</del> &nbsp;
                    <a href="/todo/{{ todo.id }}/finish?status=no">恢复</a>
                {% end %}

                <a href="/todo/{{ todo.id }}/edit">修改</a>

                <a href="/todo/{{ todo.id }}/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
            </li>
        {% end %}
    </ul>
{% end %}

{% block bottom %}
    <form action="/todo/new" method="post" id="post_new" onsubmit="return emptyCheck()">
        <p><input type="text" name="todo_text" id="todo_text" /></p>
        <p><input type="submit" class="submit" value="添加" /></p>
    </form>
{% end %}
