{% extends "base.html" %}

{%block static%}
    <script src="{{ static_url('js/knockout-3.4.0.js') }}"></script>
    <script src="{{ static_url('js/todo.js') }}"></script>
{%end%}

{% block header %}
    <div class="container">
        <a href="/">
            <img src="{{ static_url("images/tornado.png") }}" alt="powered by tornado" />
        </a>
    </div>
{% end %}

{% block content %}
    <div class="container">
        <h2>Planets</h2>
        <p> 
            <label>
                <input type='checkbox' data-bind='checked: displayAdvancedOptions' />
                Display advanced options
            </label>
        </p>
         
        <p data-bind='fadeVisible: displayAdvancedOptions'>
            Show:
            <label><input type='radio' name="type" value='all' data-bind='checked: typeToShow' />All</label>
            <label><input type='radio' name="type" value='rock' data-bind='checked: typeToShow' />Rocky planets</label>
            <label><input type='radio' name="type" value='gasgiant' data-bind='checked: typeToShow' />Gas giants</label>
        </p>
         
        <div data-bind='template: { foreach: planetsToShow,
                                    beforeRemove: hidePlanetElement,
                                    afterAdd: showPlanetElement }'>
            <div data-bind='attr: { "class": "planet " + type }, text: name'> </div>
        </div>
         
        <p data-bind='fadeVisible: displayAdvancedOptions'>
            <button data-bind='click: addPlanet.bind($data, "rock")'>Add rocky planet</button>
            <button data-bind='click: addPlanet.bind($data, "gasgiant")'>Add gas giant</button>
        </p>
    </div>
{% end %}

{% block items %}
    <div class="container">
        <div class="todos">
            <ul>
                {% for todo in todos %}
                    <li>
                        {% if todo.finished == 0 %}
                            {{ todo.todo_text }} &nbsp;
                            <a href="/todo/{{ todo.id }}/finish?status=yes">完成</a>
                        {% elif todo.finished == 1 %}
                            <img src="{{ static_url("images/ok.gif") }}" alt="finish" />
                            <del>{{ todo.todo_text }}</del> &nbsp;
                            <a href="/todo/{{ todo.id }}/finish?status=no">恢复</a>
                        {% end %}

                        <a href="/todo/{{ todo.id }}/edit">修改</a>

                        <a href="/todo/{{ todo.id }}/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                    </li>
                {% end %}
            </ul>
        </div>
    </div>
{% end %}

{% block bottom %}
    <div class="container">
        <div class="post">
            <input id="todo_text" type="text" />
            <br/>
            <button id="btn_add" onclick="newTodo()"> Add</button>
        </div>
    </div>
{% end %}
